<p style="color: green"><%= notice %></p>

<h1>List of Profiles</h1>

<%= image_tag 'rockets', alt: 'Aces', width: 200 %>
<br>
<div id="profiles">
  <% @profiles.each do |profile| %>
    <ul>
      <li>
        <%= link_to "#{profile.name}", profile %>
      </li>
    </ul>
  <% end %>
</div>

<%= link_to "New profile", new_profile_path %>
